<section class="module module-narrow">
    <h2 class="module-heading"><i class="icon-bar-chart icon-medium"></i> {{ _('Statistics Menu') }}</h2>
    <nav data-module="stats-nav">
      <ul class="unstyled nav nav-simple">
        <li class="nav-item"><a href="/tnstats/index">組織資料集瀏覽與下載統計</a></li>
        <li class="nav-item"><a href="/tnstats/group">群組資料集瀏覽與下載統計</a></li>
        <li class="nav-item"><a href="/tnstats/keyword">關鍵字統計</a></li>
        <li class="nav-item"><a href="/tnstats/evaluation">資料集評鑑指標</a></li>
        <li class="nav-item"><a href="/tnstats/dataset">OpenData開放清單</a></li>
      </ul>
    </nav>
  </section>